.input {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0;
    box-shadow: none;

    &:hover {
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &--password {
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-radius: 0;
        box-shadow: none;
    }

    &--textarea {
        resize: none;
    }
}
